.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.pokeball {
  width: 50px;
  height: 50px;
  background-image: url(/svg/logo.svg);
  background-size: cover;
  animation: shake 1s infinite;
}

/* Optional: for screen reader-only content */
.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
