.not-found,
.not-found-text,
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.not-found {
  width: 100vw;
  height: 100vh;
  background: no-repeat center/50% url('public/svg/error.svg');
}

.not-found-text {
  padding: 5px 5px;
  border-radius: 5px;
}

.buttons {
  flex-direction: row;
  gap: 10px;
}

.backButton,
.homeButton,
.not-found-text {
  background-color: rgba(221, 61, 37, 0.925);
  border: 2px solid rgb(255, 98, 0);
}

.backButton,
.homeButton {
  display: flex;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}
